# WEB SCRAPING – ASSIGNMENT 2

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
#entering "Data Analyst" in job search bar using selenium driver
search_job = driver.find_element_by_class_name("suggestor-input ")
search_job.send_keys("Data Analyst")

#entering "Bangalore" in location search bar using selenium deriver
location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
location.send_keys("Bangalore")

In [5]:
#clicking submit button using selenium deriver
submit_button = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
submit_button.click()

In [6]:
#specifying the url of the webpage to be scrapped
url='https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore'

#lets open the web page through our url
driver.get(url)

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [8]:
#finding job title element using xpath
title_tags= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="bcf7bba7-5a08-4bdc-96e9-34ced1998d3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="13889023-6edf-4eb9-9313-23aa73a69103")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="8eaeb1af-9360-4ca0-8551-a4b48c2555c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="02bfb183-1b2f-4bdd-948c-39f21ee7dce0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="4b9f035e-3e74-49ad-9b9d-133af3db6859")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="fe0716ad-8359-4715-96bc-69629017fa12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="bad0652e-a9c3-4903-929f-95af638234eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="f18ebaab-f404-4a27-9c8c-513106cc9349")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="5ae9f317-e2d1-475a-86d1-7cb9b61a0c80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="cbcf0af4-f362-4938-ad92-fe4358e49e77")>]

In [9]:
#getting all the available text in the title_tags element
job_title =[]
for i in title_tags:
    job_title.append(i.text)
job_title[0:10]

['Data Analyst I',
 'Senior Data Analyst',
 'Lead Data Analyst - Risk Analytics',
 'Hiring - Zonal Data Analyst (Off Role) - Operations - Bangalore & Delh',
 'Senior Data Analyst',
 'Sr Domain Expert -Data Analysts',
 'Associate Data Analyst',
 'Associate Data Analyst',
 'Denave Hiring Data Analyst Bengaluru Location',
 'Immediate Joiner Data Analyst']

In [10]:
#finding experience   element using xpath
exp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
exp_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="545dfd98-b1c0-4eb7-a762-5018880f470b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="f20c9e78-83ed-4ce0-92f9-7612e0d07b43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="a077d0c7-96e7-4560-9dfa-2b11c39806c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="5b4be6b6-3431-46c0-a9c0-8b3c7891ba06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="be83f9ca-ee23-49fe-9be1-cf05f90f023a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="232b8a67-84ad-4548-9f6a-e20717dfcf2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="382f8d7b-b089-4bac-8963-1abb9ddc1052")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="32f5ead7-b36f-4112-9ccc-d990e159d4eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="5b6f4d90-25fc-4142-bc00-3b10d9b7576d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="4b9c83bc-8aa7-4d56-bca5-d13401f7bfcc")>]

In [11]:
#getting all the available text in the location_tag element
experience_required=[]
for i in exp_tag:
    experience_required.append(i.text)
experience_required[0:10]

['0-3 Yrs',
 '10-12 Yrs',
 '5-11 Yrs',
 '2-7 Yrs',
 '3-6 Yrs',
 '0-10 Yrs',
 '2-7 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '7-12 Yrs']

In [12]:
#finding location   element using xpath
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="8d5c48c5-b5dd-4b16-b583-3b448649df6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="e6203554-89bb-4a11-8f97-1f6030f2b799")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="d0455c9f-3ce6-4796-b1ce-5b4d26eaf832")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="874a2335-29e1-4f1c-b41e-ade732348cda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="ed6cdbad-15b8-4dca-a71b-f43938de7126")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="98d631e4-9fc9-4df8-b1d2-d1968c8f6f50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="92635a28-07e0-4211-99e7-22904d09b17f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="8d087aa8-2036-4d5a-9e03-b099dfa6ec2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="bee25718-b70a-49a5-982d-327399a8c726")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="96fd1b63-434d-4162-9476-4789c8cac2c1")>]

In [13]:
#getting all the available text in the location_tag element with slicing to fetch only location 
job_location =[]
for i in location_tag:
    job_location.append(i.text)
job_location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru']

In [14]:
#finding company name element using xpath
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="26294501-8fa9-4f92-a5d6-9d55af7b2d1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="517829f4-dc75-4540-9dc1-ed7414652c52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="27c5fd5d-292c-47a2-83da-821e2387b405")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="f2319901-ffb5-4aa3-9dd6-318b8d7ad51c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="ef53deb2-97db-4671-8220-3963fbd1dfcd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="40444be3-4602-4c36-8c4c-5081a54763fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="dea44bd2-25b0-415a-8e02-fa9192bf307a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="010c12f1-ef7b-43fc-b034-3fa0aeed89db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="52f2e986-f90b-4173-aa3f-6cf250bd7a66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db9addd87dfcf20576926240a4ec2677", element="f0ccfa33-5e38-4430-b9bb-0e4b1391cc2c")>]

In [15]:
#getting all the available text in the company_tag element to fetch company name and appending the same in for loop
company_name = []
for i in company_tag:
    company_name.append(i.text)
company_name[0:10]

['Bioclinica',
 'Shell',
 'Gojek',
 'Rupeek',
 'LatentView',
 'Siemens',
 'Optum',
 'Optum',
 'Denave India Pvt Ltd.',
 'Capco']

In [16]:
print(len(job_title),len(job_location),len(experience_required),len(company_name))

20 20 20 20

In [17]:
# creating dataframe and assigning lists to columns
Data_Analyst = pd.DataFrame({})
Data_Analyst['Job_title'] = job_title
Data_Analyst['Job_Location'] = job_location
Data_Analyst['Company_name'] = company_name
Data_Analyst['Experience_Required'] = experience_required

In [18]:
Data_Analyst=Data_Analyst[0:10]
Data_Analyst

,Job_title,Job_Location,Company_name,Experience_Required
0,Data Analyst I,Bangalore/Bengaluru,Bioclinica,0-3 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Shell,10-12 Yrs
2,Lead Data Analyst - Risk Analytics,Bangalore/Bengaluru,Gojek,5-11 Yrs
3,Hiring - Zonal Data Analyst (Off Role) - Opera...,"New Delhi, Bangalore/Bengaluru",Rupeek,2-7 Yrs
4,Senior Data Analyst,"Chennai, Bangalore/Bengaluru",LatentView,3-6 Yrs
5,Sr Domain Expert -Data Analysts,Bangalore/Bengaluru,Siemens,0-10 Yrs
6,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
7,Associate Data Analyst,Bangalore/Bengaluru,Optum,4-9 Yrs
8,Denave Hiring Data Analyst Bengaluru Location,Bangalore/Bengaluru,Denave India Pvt Ltd.,5-10 Yrs
9,Immediate Joiner Data Analyst,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",Capco,7-12 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps

In [19]:
driver = webdriver.Chrome(r"C:\Users\admin1\Downloads\chromedriver.exe")
driver.get('https://www.naukri.com/')

In [20]:
#entering "Data Specialist" in job search bar using selenium driver
search_job = driver.find_element_by_class_name("suggestor-input ")
search_job.send_keys("Data Specialist")

#entering "Bangalore" in location search bar using selenium deriver
location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
location.send_keys("Bangalore")

In [21]:
#clicking submit button using selenium deriver
submit_button = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
submit_button.click()

In [22]:
#specifying the url of the webpage to be scrapped
url='https://www.naukri.com/data-specialist-jobs-in-bangalore?k=data%20specialist&l=bangalore'

#lets open the web page through our url
driver.get(url)

In [23]:
#finding job title element using xpath
title_tags= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="d7508fbf-6674-4096-8d08-855e18ea138d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="e6846cf5-5141-4549-83b6-f52c19d7b9c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="7f103fd5-4f76-44c5-bc82-a6b6384247c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="0a6c3c1c-2258-4d7a-9a05-6783bf2ba873")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="829a9ea7-34f7-444a-a063-00fdc8f04c91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="01ac9234-eebe-4438-8bdf-e8ac8775b4b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="d112fba4-af64-4838-816e-1f55135e9117")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="b1066d56-2360-4e74-82ae-5c8ee6d129a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="145dbf36-7a83-450b-a34c-1138d9b1d2b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="afc59b57-e078-4e22-8607-23e44ae086ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="890eda2d-076c-4f8a-a7b9-70269d0518f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="e13dfa0f-a656-4d46-9efd-d09e3e843f89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="28675023-65c7-47cf-94ce-ffae8dc8e442")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="d10b6686-50ca-4fb6-9e19-ed6aa74c25f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="2176796b-e4e6-4665-9694-887928f61533")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="2ade6dca-51a6-4eb0-abf2-9f70a04ee6c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="a95e11f7-63d1-4ba9-9995-0e19481132e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="e2634d4d-2e27-45cb-b60a-b16e92569ee6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="49a978d8-5b38-4dbb-9d31-741a2927837a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="1e022c0d-3d9c-4299-9357-f31a95e86290")>]

In [24]:
#getting all the available text in the title_tags element
job_title =[]
for i in title_tags:
    job_title.append(i.text)
job_title

['Senior Data Specialist',
 'Test Data Specialist / Functional Tester',
 'Data Specialist/ Senior Data Specialist',
 'Specialist - Data Engineering',
 'AWS / Big Data Specialist - Hadoop/ PySpark/ Scala',
 'Specialist - Data Engineering - Microstrategy',
 'Data Management Specialist',
 'Data Engineer - Specialist',
 'Data Enrichment Specialist',
 'Power BI Specialist - Data Modeling',
 'Data Integrity Specialist | Giant Eagle',
 'Data Visualization Specialist',
 'Azure Data Specialist',
 'Power BI Specialist - Data Modeling',
 'Specialist - Data Engineering',
 'SAP Master Data specialist',
 'Hiring For Clinical Data Specialist/Coordinator in Iqvia',
 'Platform Data Specialist',
 'Platform Data Specialist',
 'Data Specialist']

In [25]:
#finding location   element using xpath
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag

[<selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="55221421-32f2-4687-b69b-b0d68753d399")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="2f45bf2c-12d1-4de1-9ac8-166fd46fcef5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="eb2c3a40-5813-48df-9ab2-1359e08e96af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="2fdc5471-e55e-4af2-9b44-6c2fdb629aa0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="e9b587f4-51b6-4d62-a075-8beea3d77438")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="b0c78ba7-c41d-40e2-83ca-439590955901")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="a5651eb6-dcbe-4a47-aba2-d89c892fe932")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="5d043683-947b-4fc6-a1b9-4fe38b3cb29a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="a061cec5-e9ad-4c71-a906-7dbcf96301ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="9aaf729c-d479-409f-87c8-46205e4688f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="64faec6e-50c2-47d8-a309-f7accfa9d141")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="b8433288-fd5d-411c-9982-9a49fa19f041")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="e563c2d1-f224-441a-a634-d3a10a54213a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="81056fdc-5227-47de-af11-9509ad6c242e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="fcf8b7c7-51b5-47b2-b4ab-d08353e8fe9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="ba527de9-26f7-4a41-88a7-59cd95d8b820")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="8e8c44e9-f3db-42e2-bf27-470db35c3c83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="f289e78c-ad01-4695-953b-3aef565b7d9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="79cd4170-9983-42ad-9ca3-6dc5a66bf154")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="f9d0ee5d-6315-4822-b7e3-63fe841f7465")>]

In [26]:
#getting all the available text in the location_tag element with slicing to fetch only location 
job_location =[]
for i in location_tag:
    job_location.append(i.text)
job_location

['Bangalore/Bengaluru\n(WFH during Covid)',
 'Chennai, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Thane, Bangalore/Bengaluru',
 'Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru']

In [27]:
#finding company name element using xpath
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag

[<selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="9ee7bbef-4540-41d7-92e9-523b169fccb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="6ed0aaa9-24d4-4f9e-b6ad-2b672cadce28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="af282777-7d2b-4fcf-ada1-fb6c1c2add6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="1ff71504-cce1-452b-8d38-da530b209ff8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="5b10185c-cbf6-439b-af8b-b4ca03ff4578")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="f183958c-f883-40b5-a03c-a2390d0418d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="07ae5a05-f269-4c1f-87ae-08e096b66ae7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="0ce66a2e-ec7c-4697-a247-90ef7959354e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="01b9b058-4ab4-4fef-aeea-5c7db11cf141")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="0fba9357-df52-4ccf-8df7-bdeaff5500ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="49aebff2-e442-4242-a96a-48fbc3957aad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="e32077d0-b068-4ddb-b013-dd25d21cb264")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="9f1a360f-6a63-47af-9d64-e6375008f0e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="36c9bca9-f24c-45d3-b292-87f1250dc67f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="0392d9af-2658-4d8f-84e8-d2fdf65ae189")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="89886b73-89e0-4dd5-b2c0-7ae2c0ef4d57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="dac37862-9216-464e-ba84-3e2356216f25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="2228d7c2-8b62-4f00-8292-41db0f9ae602")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="b5a8d878-13fb-46cd-a0a3-a1461d339c19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0caa2b283e5141c2765cfd0da838065d", element="74c1ea65-e3fc-4158-b2a6-ddbec32c7907")>]

In [28]:
#getting all the available text in the company_tag element to fetch company name and appending the same in for loop
company_name = []
for i in company_tag:
    company_name.append(i.text)
company_name

['Brillio',
 'Maveric Systems Limited',
 'Maven Wave Partners India Pvt. Ltd',
 'L&T Infotech (LTI)',
 'Gallop Research',
 'Vdart Software Services Private Limited',
 'Eversana',
 'Epsilon',
 'AutoCAD',
 'Career Infosystem',
 'TALENT500 TECH (INDIA) PRIVATE LIMITED',
 'Kimberly-Clark Lever Limited',
 'Brillio',
 'Career Infosystem',
 'AGILITY HUMAN RESOURCE MANAGEMENT SERVICES PRIVATE LIMITED',
 'Siemens Gamesa Renewable Energy',
 'IQVIA RDS India Pvt Ltd',
 'ZeroFOX',
 'ZeroFOX',
 'Multi Recruit']

In [29]:
print(len(job_title),len(job_location),len(experience_required),len(company_name))

20 20 20 20

In [30]:
# creating dataframe and assigning lists to columns
Data_Specialist = pd.DataFrame({})
Data_Specialist['Job_title'] = job_title
Data_Specialist['Job_Location'] = job_location
Data_Specialist['Company_name'] = company_name

In [31]:
Data_Specialist=Data_Specialist[0:10]
Data_Specialist

,Job_title,Job_Location,Company_name
0,Senior Data Specialist,Bangalore/Bengaluru\n(WFH during Covid),Brillio
1,Test Data Specialist / Functional Tester,"Chennai, Bangalore/Bengaluru",Maveric Systems Limited
2,Data Specialist/ Senior Data Specialist,"Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru",Maven Wave Partners India Pvt. Ltd
3,Specialist - Data Engineering,Bangalore/Bengaluru,L&T Infotech (LTI)
4,AWS / Big Data Specialist - Hadoop/ PySpark/ S...,Bangalore/Bengaluru,Gallop Research
5,Specialist - Data Engineering - Microstrategy,"Pune, Chennai, Bangalore/Bengaluru, Mumbai (Al...",Vdart Software Services Private Limited
6,Data Management Specialist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",Eversana
7,Data Engineer - Specialist,Bangalore/Bengaluru,Epsilon
8,Data Enrichment Specialist,Bangalore/Bengaluru,AutoCAD
9,Power BI Specialist - Data Modeling,Bangalore/Bengaluru,Career Infosystem

Q3: In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [32]:
driver = webdriver.Chrome(r"C:\Users\admin1\Downloads\chromedriver.exe")
driver.get('https://www.naukri.com/')

In [33]:
#entering "Data Specialist" in job search bar using selenium driver
search_job = driver.find_element_by_class_name("suggestor-input ")
search_job.send_keys("Data Specialist")

#entering "Bangalore" in location search bar using selenium deriver
location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
location.send_keys("Delhi/NCR")

In [34]:
#clicking submit button using selenium deriver
submit_button = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
submit_button.click()

In [35]:
#specifying the url of the webpage to be scrapped
url='https://www.naukri.com/data-specialist-jobs-in-delhi-ncr?k=data%20specialist&l=delhi%2Fncr&ctcFilter=3to6&cityTypeGid=9508'

#lets open the web page through our url
driver.get(url)

In [36]:
#finding job title element using xpath
title_tags= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="cf7f752a-8ff3-4240-b681-60e5cfc9c597")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="d74dc2b2-5aad-46ab-9940-00ce5d9bcaca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="796ab9f1-ba74-4483-b882-a8cc75dfa0a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="a53346bd-b7a5-4260-a8af-7ea706149247")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="d83516fb-486b-4a82-ac08-4f44e96b62f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="d3c491d2-97e9-417c-92af-78e4da62e03e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="72c29bae-5978-4fc0-a6e7-9341d22810db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="2200556c-4334-412c-b739-1c37158011a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="2a486604-d817-4fd0-8650-898aa5e8ef09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="eee6e122-faf4-4c2c-81bb-d16d6b69ea07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="e82481fb-5e1d-48a6-8f97-1d3f846258cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="d3d45138-66d9-4b38-bb26-0bdc5c8c82b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="65544521-2fe3-4baf-a0cb-74c5c17bd565")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="649c7c54-2245-4aff-a013-5400f936f73e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="efbe7825-0772-48b6-9a20-1d8ef2a371ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="21ab2f37-a246-40a4-bcb4-12a1e121df0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="a8a70772-f31e-49b2-886b-c3978a5e42eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="0f0862f7-b45c-41e7-bbb7-f59c3a11543b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="80a757c1-0556-4138-8dd8-4ac94d9de020")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="d05c4794-723c-45e3-bb12-3014b26828fd")>]

In [46]:
#getting all the available text in the title_tags element
job_title =[]
for i in title_tags:
    job_title.append(i.text)
job_title=job_title[0:10]
job_title

['HR Specialist Data Management',
 'Data Entry Specialist',
 'Specialist / Senior Specialist - Data Validation',
 'Data Specialist',
 'Hiring For Master Data Management Specialist - Tech Mahindra',
 'Data Processing Specialist',
 'Data Science Specialist',
 'Technical Network Data Analyst - Specialist',
 'Part Time || Data Science - Academic Content || Work from Home',
 'Audit Specialist / Data compliance and Support Coordinator']

In [38]:
#finding location   element using xpath
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tag

[<selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="f40eb563-a504-4f11-a886-4ec3920305e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="8444efb8-3469-49f1-9bbf-76f34ec3333b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="5e83223f-c85a-48e1-b06d-9f1760cb4d6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="389f3582-bf72-43e7-8dfd-346d86166f97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="58e4cec8-d8e8-4ea9-8869-447fed146f18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="3518d5d8-8624-44bd-966f-e9c4ea854cbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="c163de57-4a70-4541-9f24-fe89214423a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="03b2b72f-4666-4942-8d83-4921a876cc34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="338867ca-88e8-4921-bdc2-ce6f578a7840")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="6b9039fe-d946-4936-8be9-999d5670aaaf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="be1d04a2-e9a7-42b1-bf77-156256c6780e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="9f455c2a-bed8-4a2f-808b-5354a7a35b8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="a73089a4-25b5-4efa-af2e-c61248a9d00a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="2f5cd1fe-2fb6-4aaa-8ab8-653700cd6e6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="409c0abf-c231-4f10-9ada-d97b4457e9e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="416585f5-e941-4088-9719-13ac08a2a169")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="8672b791-938c-410a-8089-0dca04c81d3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="8e63531a-10cd-496f-8849-349561477ec7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="16ccebbd-8de7-4c6c-86bf-21e608f7cd15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="da6645ee-cd8c-416c-8dd6-cd192c6fd13f")>]

In [47]:
#getting all the available text in the location_tag element with slicing to fetch only location 
job_location =[]
for i in location_tag:
    job_location.append(i.text)
job_location=job_location[0:10]
job_location

['New Delhi, Gurgaon/Gurugram, Delhi / NCR',
 'Delhi / NCR',
 'Gurgaon/Gurugram',
 'Gurgaon',
 'Noida',
 'Gurgaon',
 'Gurgaon/Gurugram',
 'New Delhi',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram']

In [40]:
#finding company name element using xpath
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag

[<selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="0f69cce4-6797-4e47-b807-8003a0c259af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="b625df6e-600c-49bb-9c8d-9cf2c2221fae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="b3cab478-588c-4875-97fc-a01a04b0e120")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="3dd866f9-9b6d-457f-b5f0-468aa7803be6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="59038808-2086-4f59-af2c-a92367aa6d99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="77c54bd0-b12c-46c6-b012-212eced27744")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="03fcdfb9-6f8a-44d3-9f5b-f7f39de7a407")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="e6e8a9bb-a41a-4f4d-9045-baf59ddaa165")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="81539141-9df3-4c71-820b-a2b48df74f38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="4a88ada9-6f6c-4a37-9e7c-d2238a3ba7cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="33efd569-6322-4524-ace9-d89d218bf19b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="4b2936bb-3f36-49b7-b332-5c1ed5f5fed6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="b8d6fddd-6cb5-489f-b101-6cef1b1aaadf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="f93dcd6b-935a-4a5f-a9c2-3cda9b28fb0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="9e43dd59-0a71-4614-a383-76038bf5b962")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="da185c65-cd35-4326-a985-c2399f542e08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="77a0a0eb-2ac1-41b1-9a01-ac976801f098")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="3ab2dfdc-da06-4af8-adc9-bd4a5f5acf34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="2d29e098-e4e0-4021-a5b5-4110c9647e3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="acdf50fd-ca41-48fc-889a-6a12e999db4b")>]

In [48]:
#getting all the available text in the company_tag element to fetch company name and appending the same in for loop
company_name = []
for i in company_tag:
    company_name.append(i.text)
company_name=company_name[0:10]
company_name

['Nokia Solutions and Networks India (P)Ltd',
 'Presto Infosolution (P) Ltd',
 'Anaqua',
 'Agenty',
 'Tech Mahindra',
 'USHYAKU SOFTWARE SOLUTIONS LLP',
 'Glan Management Consultancy',
 'Telstra',
 'Evelyn Learning Systems',
 'TIBCO']

In [42]:
#finding experience   element using xpath
exp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
exp_tag

[<selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="928967e2-2249-4774-9117-611f675811ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="7120aac6-a66e-42fd-a0fe-b5cbe06fef4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="bcac1aa4-b68c-427c-b3c8-a7c7813cf5ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="8c2e9a2d-080f-4fe1-9cff-f37d95dd2196")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="94ff8798-9667-4701-ac4b-7486ca777d8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="2fddcf9d-af52-4441-81a9-651ba359740a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="ff6c9e24-b0f8-483a-bfa0-7dffee3fe481")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="84324552-bab0-4aeb-9516-196b5e26760f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="9bee5e53-e24b-4315-8f16-b0f708efcf50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="cc103c16-a9fd-4c4d-bd92-ae4b999fa64c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="ace26a7e-c04f-4b8a-b1f6-859b100e4613")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="6d887d72-e39c-4924-b622-00c69035f158")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="2864bdc5-2207-4889-8523-8754c56ed0f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="46d567a9-e0fc-426f-9519-e5f3a4821018")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="16e912eb-99b4-41b0-89e3-8f6277f7aaed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="637b76c7-2fde-4db0-9bd6-59ccd86b6bf3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="ffd40773-30f8-4a1a-8025-52b528276303")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="693500c4-7074-4a63-92da-14bac990448e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3f0564e0ff35ac93bcc283295c8ac52a", element="c5fd8bb9-4b9a-4b64-9339-50ea525cb3c4")>]

In [49]:
#getting all the available text in the location_tag element
experience_required=[]
for i in exp_tag:
    experience_required.append(i.text)
experience_required=experience_required[0:10]
experience_required

['3-5 Yrs',
 '0-4 Yrs',
 '2-7 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '5-8 Yrs',
 '3-6 Yrs',
 '0-5 Yrs',
 '1-2 Yrs',
 '0-2 Yrs']

In [50]:
print(len(job_title),len(job_location),len(experience_required),len(company_name))

10 10 10 10

In [51]:
# creating dataframe and assigning lists to columns
Data_Specialist_Delhi = pd.DataFrame({})
Data_Specialist_Delhi['Job_title'] = job_title
Data_Specialist_Delhi['Job_Location'] = job_location
Data_Specialist_Delhi['Company_name'] = company_name
Data_Specialist_Delhi['Experience_Required'] = experience_required

In [52]:
Data_Specialist_Delhi

,Job_title,Job_Location,Company_name,Experience_Required
0,HR Specialist Data Management,"New Delhi, Gurgaon/Gurugram, Delhi / NCR",Nokia Solutions and Networks India (P)Ltd,3-5 Yrs
1,Data Entry Specialist,Delhi / NCR,Presto Infosolution (P) Ltd,0-4 Yrs
2,Specialist / Senior Specialist - Data Validation,Gurgaon/Gurugram,Anaqua,2-7 Yrs
3,Data Specialist,Gurgaon,Agenty,3-6 Yrs
4,Hiring For Master Data Management Specialist -...,Noida,Tech Mahindra,2-7 Yrs
5,Data Processing Specialist,Gurgaon,USHYAKU SOFTWARE SOLUTIONS LLP,5-8 Yrs
6,Data Science Specialist,Gurgaon/Gurugram,Glan Management Consultancy,3-6 Yrs
7,Technical Network Data Analyst - Specialist,New Delhi,Telstra,0-5 Yrs
8,Part Time || Data Science - Academic Content |...,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Evelyn Learning Systems,1-2 Yrs
9,Audit Specialist / Data compliance and Support...,Gurgaon/Gurugram,TIBCO,0-2 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1.Brand
2.Product Description
3.Price
4.Discount

In [53]:
#chrome driver to initiate url and get web elements for the same using selenium
driver = webdriver.Chrome(r"C:\Users\admin1\Downloads\chromedriver.exe")

url = "https://www.flipkart.com/"

driver.get(url)

driver.maximize_window() # to maximise the chrome window

#entering "Sun Glasses" in job search bar using selenium driver
search_glass = driver.find_element_by_class_name('_3704LK')
search_glass.send_keys("Sun Glasses")

#clicking submit button using selenium deriver
button_1 = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
button_1.click()
driver.implicitly_wait(3)
click_button = driver.find_element_by_class_name("L0Z3Pu")
click_button.click()

In [54]:
brand_name = []
prd_desc = []
price = []
discount = []

In [55]:
for k in range(1,4):

    
    brand = driver.find_elements_by_class_name('_2WkVRV')
    

    for i in brand:
        brand_name.append(i.text)

    desc = driver.find_elements_by_class_name('IRpwTa')
    

    for i in desc:
        prd_desc.append(i.text)

    cost = driver.find_elements_by_class_name("_30jeq3")
    

    for i in cost:
        price.append(i.text)


    dis = driver.find_elements_by_class_name("_3Ay6Sb")
    

    for i in dis:
        discount.append(i.text)
    
    
        nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")              #scraping the list of buttons from the page

    try:
         driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
        

    except:

        driver.get(nxt_button[0].get_attribute('href'))

In [56]:
brand_name = brand_name[0:100]
prd_desc = prd_desc[0:100]
price = price[0:100]
discount = discount[0:100]

In [57]:
# creating dataframe and assigning lists to columns
Sun_Glasses = pd.DataFrame({})
Sun_Glasses['Brand_Name'] = brand_name
Sun_Glasses['Prd_Desc'] = prd_desc
Sun_Glasses['[Price]'] = price
Sun_Glasses['Discount'] = discount

In [58]:
Sun_Glasses

,Brand_Name,Prd_Desc,[Price],Discount
0,VINCENT CHASE,UV Protection Rectangular Sunglasses (50),₹649,67% off
1,ROZZETTA CRAFT,UV Protection Spectacle Sunglasses (Free Size),₹399,80% off
2,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
3,PIRASO,UV Protection Aviator Sunglasses (54),₹249,84% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
...,...,...,...,...
95,ROZZETTA CRAFT,UV Protection Round Sunglasses (Free Size),₹253,68% off
96,SRPM,UV Protection Wayfarer Sunglasses (54),"₹1,599",20% off
97,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹649,67% off
98,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹314,82% off
99,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹236,87% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone

In [59]:
#chrome driver to initiate url and get web elements for the same using selenium
driver = webdriver.Chrome(r"C:\Users\admin1\Downloads\chromedriver.exe")
time.sleep(3)

url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1"
driver.get(url)
time.sleep(3)

driver.maximize_window() # to maximise the chrome window

In [60]:
# Creating empty list
urls=[]
short_review=[]
Rating1 = []
full_review = []

In [61]:
time.sleep(2)
#Taking 10 pages into consideration using for loop
for i in range(10):
    url=driver.find_element_by_xpath("//a[@class='ge-49M']").get_attribute('href')
    driver.get(url)
    #for scrapping the short review
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Rating1.append(j.text)
    for m in driver.find_elements_by_xpath ("//div[@class='']"):
        full_review.append(m.text)

In [62]:
# creating dataframe and assigning lists to columns
Iphone_Ratings = pd.DataFrame({})
Iphone_Ratings ['Review_Summary'] = short_review
Iphone_Ratings ['Full_Review'] = full_review
Iphone_Ratings ['Ratings'] = Rating1

In [63]:
Iphone_Ratings

,Review_Summary,Full_Review,Ratings
0,Highly recommended,iphone 11 is a very good phone to buy only if ...,5
1,Perfect product!,It’s a must buy who is looking for an upgrade ...,5
2,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...,5
3,Worth every penny,"Smooth like butter, camera like fantabulous, s...",5
4,Highly recommended,It's my first time to use iOS phone and I am l...,5
...,...,...,...
95,Worth every penny,Previously I was using one plus 3t it was a gr...,5
96,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...,5
97,Good choice,So far it’s been an AMAZING experience coming ...,4
98,Highly recommended,What a camera .....just awesome ..you can feel...,5
99,Worth every penny,"i11 is worthy to buy, too much happy with the ...",5

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field

In [64]:
#chrome driver to initiate url and get web elements for the same using selenium
driver = webdriver.Chrome(r"C:\Users\admin1\Downloads\chromedriver.exe")

url = "https://www.flipkart.com/"
driver.get(url)

driver.maximize_window() # to maximise the chrome window

In [65]:
#entering "Sneakers" in job search bar using selenium driver
search_glass = driver.find_element_by_class_name('_3704LK')
search_glass.send_keys("Sneakers")

#clicking submit button using selenium deriver
button_1 = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
button_1.click()

driver.implicitly_wait(3)
click_button = driver.find_element_by_class_name("L0Z3Pu")
click_button.click()

In [66]:
brand_name1 = []
prd_desc1 = []
price1 = []
discount1 = []

In [67]:
for k in range(1,4):

    
    brand = driver.find_elements_by_class_name('_2WkVRV')
    

    for i in brand:
        brand_name1.append(i.text)

    desc = driver.find_elements_by_class_name('IRpwTa')
    

    for i in desc:
        prd_desc1.append(i.text)

    cost = driver.find_elements_by_class_name("_30jeq3")
    

    for i in cost:
        price1.append(i.text)


    dis = driver.find_elements_by_class_name("_3Ay6Sb")
    

    for i in dis:
        discount1.append(i.text)
    
    
        nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")              #scraping the list of buttons from the page

    try:

        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
        

    except:
         driver.get(nxt_button[0].get_attribute('href'))

In [68]:
brand_name1 = brand_name1[0:100]
prd_desc1 = prd_desc1[0:100]
price1 = price1[0:100]
discount1 = discount1[0:100]

In [69]:
# creating dataframe and assigning lists to columns
Sneakers = pd.DataFrame({})
Sneakers['Brand_Name'] = brand_name1
Sneakers['Prd_Desc'] = prd_desc1
Sneakers['[Price]'] = price1
Sneakers['Discount'] = discount1

In [70]:
Sneakers

,Brand_Name,Prd_Desc,[Price],Discount
0,Navtrend,Sneakers For Men,₹599,80% off
1,HIGHLANDER,Sneakers For Men,₹945,52% off
2,URBANBOX,Sneakers Sneakers For Men,₹158,84% off
3,aadi,Sneakers For Men,₹269,73% off
4,corsac,STYLISH MENS BLACK SNEAKER Sneakers For Men,₹449,70% off
...,...,...,...,...
95,HIGHLANDER,Sneakers For Men,₹489,67% off
96,Zixer,Men's Streetwear Pro Style High Top Platform F...,₹308,69% off
97,Kzaara,Kzaara Sneakers Casual Canvas shoes | Branded ...,₹500,74% off
98,MAFLO,Sneakers For Men,₹449,70% off
99,HIGHLANDER,Sneakers For Men,₹494,38% off

In [71]:
#chrome driver to initiate url and get web elements for the same using selenium
driver = webdriver.Chrome(r"C:\Users\admin1\Downloads\chromedriver.exe")

url = "https://www.myntra.com/shoes"
driver.get(url)

driver.maximize_window() # to maximise the chrome window

In [72]:
driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div").click()

In [73]:
driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div").click()

In [74]:
brand_name2 = []
prd_desc2 = []
price2 = []

In [75]:
brand = driver.find_elements_by_class_name('product-brand')
for i in brand:
    brand_name2.append(i.text)

desc = driver.find_elements_by_class_name('product-product')
for i in desc:
    prd_desc2.append(i.text)

cost = driver.find_elements_by_class_name("product-price")
for i in cost:
    price2.append(i.text)

In [76]:
len(brand_name2),len(prd_desc2),len(price2)

(50, 50, 50)

In [77]:
driver = webdriver.Chrome(r"C:\Users\admin1\Downloads\chromedriver.exe")

url = "https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=2&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0"

driver.get(url)

driver.maximize_window() # to maximise the chrome window

In [78]:
brand_name3 = []
prd_desc3 = []
price3 = []

brand = driver.find_elements_by_class_name('product-brand')
for i in brand:
    brand_name3.append(i.text)

desc = driver.find_elements_by_class_name('product-product')
for i in desc:
    prd_desc3.append(i.text)

cost = driver.find_elements_by_class_name("product-price")
for i in cost:
    price3.append(i.text)

In [79]:
len(brand_name3),len(prd_desc3),len(price3)

(50, 50, 50)

In [80]:
# creating dataframe and assigning lists to columns
Myntra_Shoes = pd.DataFrame({})
Myntra_Shoes['Brand_Name'] = brand_name2+brand_name3
Myntra_Shoes['Prd_Desc'] = prd_desc2+prd_desc3
Myntra_Shoes['[Price]'] = price2+prd_desc3

In [81]:
Myntra_Shoes

,Brand_Name,Prd_Desc,[Price]
0,ALDO,Men Leather Driving Shoes,Rs. 12999
1,Nike,Men KF 5 EP Basketball Shoes,Rs. 8195
2,one8 x PUMA,Men Fuse One8 Training Shoes,Rs. 7999
3,ADIDAS,Men Dropset Training Shoes,Rs. 12999
4,Skechers,Men Max Cushioning Running,Rs. 7649Rs. 8999(15% OFF)
...,...,...,...
95,ECCO,Leather Block Pumps,Leather Block Pumps
96,ALDO,Leather Slim Heels,Leather Slim Heels
97,Bugatti,Women Leather Heeled Boots,Women Leather Heeled Boots
98,Bugatti,Printed Leather Sandals with Buckles,Printed Leather Sandals with Buckles
99,Geox,Leather Block Sandals,Leather Block Sandals

Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image

In [88]:
#chrome driver to initiate url and get web elements for the same using selenium
driver = webdriver.Chrome(r"C:\Users\admin1\Downloads\chromedriver.exe")

url = "https://www.amazon.in/"
driver.get(url)

driver.maximize_window() # to maximise the chrome window

In [89]:
#Entering Laptop in search field using selenium driver
search_laptop=driver.find_element_by_id('twotabsearchtextbox')
search_laptop.send_keys('Laptop')

#click search button using selenium driver
click_search=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
click_search.click()

In [90]:
#Filtering laptop by i7 using selenium driver
select_i7=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[12]/span/a/span')
select_i7.click()

In [91]:
#finding title element 
title_tag=driver.find_elements_by_xpath('//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
title_tag

[<selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="1137b266-1537-4b3b-8516-6156a8b01f62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="28b7f6a3-53fe-483c-8c13-bcf7c4857362")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="ab7b1015-94a9-4f5f-9cdd-c639f8c4f6f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="5d2920c2-2e8c-4e8e-afed-a1f888579896")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="8ef03780-7e45-42d9-b5fd-66639e9b5cf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="97aa2347-5e96-4637-b037-c7baa463991a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="9536cf58-17a7-45bd-98cf-6284685bae0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="9c05562b-a13e-4e87-a342-dcdfd58338bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="9d083b9b-f621-4f90-8309-0af2b23b5aec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="cfd7ee70-da42-4d54-be8b-881756f28b84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="654d82a2-0bee-493c-acfb-9328e70113b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="f30ed25b-b22c-42ff-b2c6-844da199a455")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="757005bb-79a1-4b1c-8e58-1c6f4ed180eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="95325a63-6889-4b0f-9e3b-ec5aa1222a43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="05980957-dd0f-4298-b5d6-40ee28575671")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="d4fbe754-3e25-45bd-90f4-bbfd9076b748")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="f34358d3-3810-4f9c-9649-d8fdb4c2cde1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="e08cf3b9-e8bb-417f-9d25-bc500991b897")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="94648c33-3842-4adb-8603-67c5078e14bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="9e74ddfe-8058-4243-b3dc-1485c79d752c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="71583942-8723-47a0-aaa1-8275245371cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="ee0f92de-ca1d-425b-92c3-6ab4eedd90c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="c1c02fcb-6910-40fa-90f3-e7e60829452b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="2807364e-8144-4c0f-ac67-148a3313cfd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="c754f04a-b957-471f-865d-64c68d382615")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="330c8f15-95e0-4d7f-8494-d9c1bc0a4fc9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="c8e9da08-30bf-4cc4-86b1-95b3be455bf4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="d889e08f-9183-48d5-b0c8-498653b0052c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="87175f80-9c55-4d5b-8920-6ea00400145e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="e36c5835-b6f3-407f-b9e6-b92e2f302590")>]

In [92]:
title=[]
for i in title_tag:
    title.append(i.text)
title=title[0:10]
title

['Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7 EvoTM 15.6 inch Touchscreen 2-in-1 AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MSO Home & Student 2021/Graphite/1.41Kg), NP950QED-KA1IN',
 'Samsung Galaxy Book2 360 Intel 12th Gen i7 EvoTM  33.78cm (13.3") AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office Home & Student 2021/Graphite/1.16Kg), NP730QED-KA1IN',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'HP Pavilion 11th Gen Intel Core i7 Processor 15.6 inches FHD Gaming Laptop (16GB/512GB SSD/Windows 11/NVIDIA RTX 3050 Graphics/MS Office/ Shadow Black & Ultra Violet/2.23Kg), 15-dk2096TX',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, GeForce RTX 3050 4GB Graphics, Gaming Laptop (8GB/512GB SSD/Windows 10/Eclipse Gray/2.3 Kg), FX566HC-HN093T',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/B&O/Win 11/FPR/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa/MS Office/Silver/1.52Kg) 14-dy1047TU',
 'LG Gram 14 Intel Evo 11th Gen Core i7 14 inches Ultralight Laptop (16 GB RAM, 512 GB SSD, Windows 10, Iris Xe Graphics Thunderbolt 4, USC -Cx2 (with Power), 0.999kg, 14Z90P, Black)',
 'Lenovo ThinkBook Yoga 14s Intel Core i7 11th Gen 14"(35.56cm) FHD IPS 300 nits 100% sRGB Dolby Vision 2-in-1 Touchscreen Laptop (16GB RAM/512GB SSD/Windows 10/MS Office/Active Pen/1.50 kg) 20WEA01EIH',
 'HP Pavilion 14, 11th Gen Intel Core i7-16GB RAM/1TB SSD 14 inch(35.6 cm) Laptop/Intel Iris Xe Graphics/Backlit Keyboard/Alexa/B&O Audio/Fast Charge/FPR/Win 11/MS Office, 14-dv1029TU,Natural Silver']

In [93]:
#finnding price element using selenium driver
price_tag=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
price_tag

[<selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="deeb0ea9-a937-4f6d-9e71-a71122d58526")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="346e8552-e486-4967-a60d-eb947ba99c35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="f03c3866-5e4f-4f9a-a2c8-a253076f9da8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="12b6ce9a-2ac0-45c6-9cb6-61810ea3a244")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="368e08fc-3a40-4ca3-a152-12e9f21926e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="2a33c879-fb55-47b5-8614-00b656e2dd9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="b96474b5-8eef-4453-b43d-d06a2b1b753e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="052d04b7-a03f-4292-810b-974f8a45b112")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="2ab99d9f-9f30-4d9e-a6a4-57543a1cee9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="cd5c2d55-a820-439e-a375-359df7f3938c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="22a3b7ca-4092-4b33-b6b2-d8d591b55ae0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="6ea73967-3f98-4fd3-ad21-c99b3ed50191")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="0cb0056e-d751-4488-a135-5ab3f51e285c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="6e1e5272-a8c6-43a8-a4ac-5b08f089de08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="45fa9a38-0a33-442c-a446-754a182a0339")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="fc247b44-7df0-4fdc-82e6-0d97ded57a54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="1c000666-3d17-4609-9c0f-549cf1798a9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="fceb3479-8a3e-4bfc-9e3d-0a0b898147e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="ad68ed38-de38-496d-bf89-182eac1169b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="064e9648-0448-4b7f-80f2-2445dab2aa23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="b74d2bc7-28e0-422c-969c-0ca8db9a0af6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="60326d30-58ac-4a18-a34c-648134763a33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="7df18ef9-017b-4d7f-a589-8fb854a67cc5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="b720edf9-74f2-48a1-8e52-225863d130f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="cdf926ab-d591-4008-8092-da5005a892b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="a8c7af70-cc7e-47cd-8b12-fa98ce60ad66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="b142d41c-3f8f-471b-b899-963b8d67951a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="9df610b0-80de-45c4-9565-c060cd3ab726")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="605b5fd6-cc17-4a1a-8a31-a6c0906cd7f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b2020b383ed97f7b868fbb25d5582cc", element="fc2317f6-bfcb-41e1-957b-3eb39385c465")>]

In [94]:
price=[]
for i in price_tag:
    price.append(i.text)
price=price[0:10]
price

['1,29,990',
 '1,05,990',
 '57,310',
 '90,990',
 '89,990',
 '96,990',
 '86,990',
 '85,999',
 '89,990',
 '86,990']

In [95]:
Laptop_Data=pd.DataFrame({})
Laptop_Data['Title']=title
Laptop_Data['Price']=price

In [96]:
Laptop_Data

                                               Title     Price
0  Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7...  1,29,990
1  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...  1,05,990
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    57,310
3  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    90,990
4  HP Pavilion 11th Gen Intel Core i7 Processor 1...    89,990
5  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...    96,990
6  HP Pavilion x360 11th Gen Intel Core i7 14 inc...    86,990
7  LG Gram 14 Intel Evo 11th Gen Core i7 14 inche...    85,999
8  Lenovo ThinkBook Yoga 14s Intel Core i7 11th G...    89,990
9  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...    86,990

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company

In [97]:
#chrome driver to initiate url and get web elements for the same using selenium
driver = webdriver.Chrome(r"C:\Users\admin1\Downloads\chromedriver.exe")
driver.get(' https://www.ambitionbox.com/')

In [98]:
#entering job section using selenium driver
enter_job_sec = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
enter_job_sec.click()

In [99]:
#specifying the url of the webpage to be scrapped
url='https://www.ambitionbox.com/jobs'
driver.get(url)

In [100]:
#entering "Data Scientist" in job search bar using selenium driver
search_job = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_job.send_keys("Data Scientist")

In [101]:
#clicking submit button using selenium deriver
submit_button = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
submit_button.click()

In [102]:
#clicking Location button using selenium deriver
submit_button = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]')
submit_button.click()

In [103]:
#entering Noida in location search bar using selenium driver
search_job = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_job.send_keys("Noida")

In [104]:
#Select Noida button using selenium deriver
select_noida = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
select_noida.click()

In [105]:
#specifying the url of the webpage to be scrapped
url1='https://www.ambitionbox.com/jobs/search?tag=Data%20Scientist&location=Noida'
driver.get(url1)

In [106]:
#finding company_name element using xpath
company_name_tags= driver.find_elements_by_xpath('//p[@class="company body-medium"]')
company_name_tags

[<selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="b5250605-6165-469e-ac53-4cf1ad7d4752")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="e39b3152-4fe3-4352-af31-76b1e83200bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="e4bab3a4-db85-4069-ab05-58e9d2b997d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="7626f373-868a-414c-a272-44aaa8a23e40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="8d78b9f0-675f-4fb3-a11c-5ad6570ad046")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="6b75bc58-ec84-4d2d-a372-ad5d235e1fc7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="dfa43814-60d7-43b0-ac61-2a4a876b8692")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="bd565e63-4db7-406e-9f26-043b651159f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="f1b79a19-6221-4f09-98b1-d4e8b14a0e14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="859a8cb1-2a49-4d9b-9c02-10a422e41168")>]

In [107]:
#getting all the available text in the company_name_tags element
company_name =[]
for i in company_name_tags:
    company_name.append(i.text)
company_name

['GENPACT India Private Limited',
 'GENPACT India Private Limited',
 'Tech Mahindra Ltd',
 'GENPACT India Private Limited',
 'HCL Technologies',
 'Bristlecone India Limited',
 'Zyoin',
 'Newgen Software Technologies Ltd.',
 'Pitney Bowes India Pvt Ltd',
 'JK Technosoft Ltd']

In [108]:
#finding  element using xpath
job_posted_tag= driver.find_elements_by_xpath('//span[@class="body-small-l"]')
job_posted_tag

[<selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="0fd22e53-c4b6-4df3-9716-f6f212093226")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="b9ae60d3-93c5-456a-b792-f22d4c2586b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="89813ba1-34eb-4f2e-af00-e44c2c963c45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="d27634d6-495d-4e6c-9522-842ba19d7eed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="cc94364f-c6ed-49ae-89d9-0df0fd78822e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="ff85fb31-ad49-4e24-a22f-ed8072956b1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="b94f2cb0-58e6-4481-a389-0ce95cb60e23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="9f1b0967-ad5f-495c-9f9e-f835e9a52c5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="8e6be2c2-e53c-4faf-acc5-79e265d836b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="4c5210f0-0af9-4bdb-a5ee-695f219bebcd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="32cb9c03-a038-4ac9-a5a3-a2554132f358")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="d0d5fd84-727d-43be-a3d8-bda4f070b566")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="52346fca-8295-4fd3-9400-197a36702773")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="de7b5a54-76df-46cc-8bd1-2dab27e11dad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="15d3ce44-7c0e-47f8-b86c-6800b536db82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="c042a04a-af74-478d-8342-06124ed97f84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="96fe0ea3-a093-49a3-add9-0fddb9e7007a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="97f90425-1e6a-4b74-924e-4fbb443c0636")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="34568d12-bb59-4f53-a1a4-8a8115936ab6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="0e092f5b-e494-4107-b144-45b0dd5cb5eb")>]

In [109]:
#getting all the available text in the job_posted_tag element
job_posted=[]
for i in job_posted_tag:
    job_posted.append(i.text.replace('via naukri.com',' ').replace('via hirist.com',' ').replace("' '"," "))
job_posted

['4d ago',
 ' ',
 '9d ago',
 ' ',
 '23d ago',
 ' ',
 '26d ago',
 ' ',
 '30d ago',
 ' ',
 '4d ago',
 ' ',
 '8d ago',
 ' ',
 '10d ago',
 ' ',
 '1mon ago',
 ' ',
 '19d ago',
 ' ']

In [110]:
for i in job_posted:
    if i  == ' ':
        job_posted.remove(i)
jobs_posted=job_posted
jobs_posted

['4d ago',
 '9d ago',
 '23d ago',
 '26d ago',
 '30d ago',
 '4d ago',
 '8d ago',
 '10d ago',
 '1mon ago',
 '19d ago']

In [111]:
#finding rating_tags element using xpath
rating_tags= driver.find_elements_by_xpath('//div[@class="rating-wrapper"]')
rating_tags

[<selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="4ce53525-64af-474d-beac-87f34af8bf4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="bbfc605a-0795-4d44-bc34-ebb1a5f65325")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="165a1d74-61a6-48eb-a6e9-ed35b0f88bd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="5ce846c5-ab24-4d90-a932-98efff805389")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="6d251819-0d40-45c0-a516-c55236a7cc27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="34936eaa-0d29-4b3f-9d18-a105f46eb965")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="4d63f2aa-2a2a-440a-95f3-016d4f26cf2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="fb4b6e76-632f-450e-abd0-216f23842e8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="8a6710c1-d82e-4d4c-8a57-cb697b3076fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="0a2e5920-17f5-4609-bafc-26375795d124")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="0884b2ae-68c7-4378-b50e-e5f4306e2583")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="64a13afb-6057-4a7d-afc3-f025e3985cfb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="9e02e520-43c8-41d7-8db6-74ff76f3cf69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c80e5ca9f2adbfc90fc768ef2d3b71c1", element="68dd8c82-392f-4fa1-898c-66717bbae79e")>]

In [112]:
#getting all the available text in the rating_tag element
rating=[]
for i in rating_tags:
    rating.append(i.text.split(',')[0].split('\n')[0])
rating

['',
 '',
 '',
 '4.0',
 '4.0',
 '4.0',
 '3.7',
 '4.0',
 '3.8',
 '3.9',
 '4.1',
 '3.5',
 '4.3',
 '3.6']

In [114]:
rating.pop(0)
rating.pop(1)

'4.0'

In [115]:
ratings=rating
ratings

['4.0', '4.0', '3.7', '4.0', '3.8', '3.9', '4.1', '3.5', '4.3', '3.6']

In [116]:
print(len(company_name),len(jobs_posted),len(ratings))

10 10 10

In [117]:
# creating dataframe and assigning lists to columns
Data_Specialist_Noida = pd.DataFrame({})
Data_Specialist_Noida['Company_name'] = company_name
Data_Specialist_Noida['Job_Posted_No_Of_Days_Ago'] = jobs_posted
Data_Specialist_Noida['Ratings'] = ratings

Data_Specialist_Noida

                        Company_name Job_Posted_No_Of_Days_Ago Ratings
0      GENPACT India Private Limited                    4d ago     4.0
1      GENPACT India Private Limited                    9d ago     4.0
2                  Tech Mahindra Ltd                   23d ago     3.7
3      GENPACT India Private Limited                   26d ago     4.0
4                   HCL Technologies                   30d ago     3.8
5          Bristlecone India Limited                    4d ago     3.9
6                              Zyoin                    8d ago     4.1
7  Newgen Software Technologies Ltd.                   10d ago     3.5
8         Pitney Bowes India Pvt Ltd                  1mon ago     4.3
9                  JK Technosoft Ltd                   19d ago     3.6

Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary

In [154]:
#chrome driver to initiate url and get web elements for the same using selenium
driver = webdriver.Chrome(r"C:\Users\admin1\Downloads\chromedriver.exe")
driver.get(' https://www.ambitionbox.com/')

In [155]:
#entering salary section using selenium driver
enter_salary_sec = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
enter_salary_sec.click()

In [156]:
#specifying the url of the webpage to be scrapped
url1='https://www.ambitionbox.com/salaries'
driver.get(url1)

In [157]:
#entering "Data Scientist" in job search bar using selenium driver
search_job = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_job.send_keys("Data Scientist")

In [158]:
#selecting data scientist using selenium deriver
select_button = driver.find_element_by_xpath('//div[@class="suggestion_wrap tt-suggestion tt-selectable"]')
select_button.click()

In [159]:
#finding company_name element using xpath
company_name_tags= driver.find_elements_by_xpath('//div[@class="name"]//a')
company_name_tags

[<selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="ba72ead1-815a-40a3-a6f2-52165b435b55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="7d18f1ef-0831-4ffb-bcbf-50de9464e00b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="10605ebf-3855-48b9-8257-05bffd4596a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="c86b82af-4b76-485b-a9e8-95d6992799fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="1dd844e8-c677-4d44-bdad-8e01515c5a19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="29513df3-dc94-4b4b-ad0d-4a5b49304008")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="42e8cbfe-18e2-4763-8c83-c0d4acf20825")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="8c8ea2e3-0ebb-4235-980a-f51cef119c35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="0a44e578-aecb-4d5b-8b87-a4b06e079315")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="c7daecf6-4d70-43d6-93a7-3bbec4a1ba1d")>]

In [160]:
company_name=[]
for i in company_name_tags:
    company_name.append(i.text)
company_name

['Walmart',
 'Ab Inbev',
 'Reliance Jio',
 'ZS',
 'Optum',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'Verizon',
 'Ganit Business Solutions']

In [161]:
#finding salary element using xpath
salary_tags= driver.find_elements_by_xpath('//div[@class="name"]//span')
salary_tags

[<selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="c7bd2862-f8c1-4bd9-8f5b-5c7dfefd1795")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="1a121d80-3d86-4f50-86cb-890cb7df4f5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="508392a8-2f8f-43cf-b4f0-dcb95c25798c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="4a05da67-8f7a-42b7-adcd-f95090d53bdc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="35da8c14-425f-426f-9ab1-2ea8b39a6cf9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="97d690b2-d196-4992-ba8d-979e783e662b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="1659690b-f4bd-46ff-b053-0c68ed4c40cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="8dd1087b-2214-400f-ab18-3d40e1b47e6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="990b4d7e-3577-4ab9-8d46-3163b6500598")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="cae51f41-ccb9-4088-aa5c-edcb7a9ab0bc")>]

In [162]:
total_salary=[]
for i in salary_tags:
    total_salary.append(i.text.split()[2])
total_salary

['11', '32', '10', '15', '27', '81', '46', '53', '14', '13']

In [169]:
#finding avg_salary element using xpath
avg_salary_tags= driver.find_elements_by_xpath('//p[@class="averageCtc"]')
avg_salary_tags

[<selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="69952fb3-b3c8-4746-a0a2-7f616f2a55ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="371e9571-8e29-4c8e-9a07-2da10012b9b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="323cc7d1-6e66-41e6-bc2f-793ae0e748fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="27ef4349-90a8-4a5f-8ff2-bb1ec59a6fe7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="a734c930-82d3-42de-8c29-452785373b08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="ae63b0cb-1e93-49a6-9a16-c129cb03fdac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="66e0300d-9736-4e27-a57d-84e765c6a600")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="83cc612b-1b90-4a22-b1e9-48f983eb29d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="32fc9a1d-4e17-4235-a245-9d163d876034")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="de0a89e4-2592-4a22-badf-2f03afaaabfb")>]

In [170]:
avg_salary=[]
for i in avg_salary_tags:
    avg_salary.append(i.text)
avg_salary

['₹ 26.9L',
 '₹ 24.7L',
 '₹ 23.7L',
 '₹ 22.3L',
 '₹ 21.0L',
 '₹ 20.3L',
 '₹ 20.2L',
 '₹ 19.9L',
 '₹ 19.8L',
 '₹ 19.7L']

In [171]:
#finding min_salary element using xpath
salary_tags= driver.find_elements_by_xpath('//div[@class="value body-medium"]')
salary_tags

[<selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="56346e48-ba12-42b1-a3bd-7cac37862191")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="a8cae45d-4368-4769-911b-d2a4ca769939")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="23d47cca-f745-4018-afb7-25586ca86af0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="8f4db5ad-37af-4699-8918-5c1ae762f9fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="0c2e08da-006b-44b3-9c83-999631ef7a91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="de504eb9-fff0-4447-b951-eb6e04e87e87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="25975096-c9d7-4ecd-8892-f5fc1fd9f79e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="3f88aaa9-0bbb-4559-93a3-837ab8f84de0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="95937cb5-9d6d-4598-95b5-fe0ab53b47a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="b9304829-ddbd-4c97-b820-7fdbc400827c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="f5ce38a5-7302-4ebc-b742-2f125fbeebf3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="659302b2-323c-4c32-bc04-6f6a33ea22ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="28ee4dd7-123a-4609-a697-e9e4f3b92d9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="428a7555-e261-45da-9e47-4d39f3065cef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="da39cabc-30ee-4464-9bea-ba7113bdb975")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="7e5c142c-cb07-4659-889f-9e49e892f528")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="6ead5271-089b-459a-904e-c63edd45a337")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="da5badef-135c-4081-96c3-4e28d840d187")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="152bf991-ca36-4756-9cc9-9b5d04b6e19c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="9455fbf5-27af-4fe4-88d5-ed14bd3f5a9e")>]

In [172]:
salary=[]
for i in salary_tags:
    salary.append(i.text)
salary

['₹ 10.4L',
 '₹ 40.0L',
 '₹ 10.7L',
 '₹ 38.0L',
 '₹ 13.0L',
 '₹ 45.0L',
 '₹ 12.0L',
 '₹ 34.0L',
 '₹ 12.0L',
 '₹ 33.0L',
 '₹ 7.5L',
 '₹ 31.0L',
 '₹ 13.0L',
 '₹ 26.3L',
 '₹ 11.0L',
 '₹ 32.5L',
 '₹ 12.0L',
 '₹ 30.0L',
 '₹ 8.0L',
 '₹ 43.0L']

In [173]:
for i in salary:
    if i  > '₹ 15.0L':
        salary.remove(i)
min_salary=salary
min_salary

['₹ 10.4L',
 '₹ 10.7L',
 '₹ 13.0L',
 '₹ 12.0L',
 '₹ 12.0L',
 '₹ 7.5L',
 '₹ 13.0L',
 '₹ 11.0L',
 '₹ 12.0L',
 '₹ 8.0L']

In [174]:
#finding max_salary element using xpath
salary1_tags= driver.find_elements_by_xpath('//div[@class="value body-medium"]')
salary1_tags

[<selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="56346e48-ba12-42b1-a3bd-7cac37862191")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="a8cae45d-4368-4769-911b-d2a4ca769939")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="23d47cca-f745-4018-afb7-25586ca86af0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="8f4db5ad-37af-4699-8918-5c1ae762f9fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="0c2e08da-006b-44b3-9c83-999631ef7a91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="de504eb9-fff0-4447-b951-eb6e04e87e87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="25975096-c9d7-4ecd-8892-f5fc1fd9f79e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="3f88aaa9-0bbb-4559-93a3-837ab8f84de0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="95937cb5-9d6d-4598-95b5-fe0ab53b47a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="b9304829-ddbd-4c97-b820-7fdbc400827c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="f5ce38a5-7302-4ebc-b742-2f125fbeebf3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="659302b2-323c-4c32-bc04-6f6a33ea22ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="28ee4dd7-123a-4609-a697-e9e4f3b92d9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="428a7555-e261-45da-9e47-4d39f3065cef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="da39cabc-30ee-4464-9bea-ba7113bdb975")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="7e5c142c-cb07-4659-889f-9e49e892f528")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="6ead5271-089b-459a-904e-c63edd45a337")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="da5badef-135c-4081-96c3-4e28d840d187")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="152bf991-ca36-4756-9cc9-9b5d04b6e19c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="9455fbf5-27af-4fe4-88d5-ed14bd3f5a9e")>]

In [175]:
salary1=[]
for i in salary1_tags:
    salary1.append(i.text)
salary1

['₹ 10.4L',
 '₹ 40.0L',
 '₹ 10.7L',
 '₹ 38.0L',
 '₹ 13.0L',
 '₹ 45.0L',
 '₹ 12.0L',
 '₹ 34.0L',
 '₹ 12.0L',
 '₹ 33.0L',
 '₹ 7.5L',
 '₹ 31.0L',
 '₹ 13.0L',
 '₹ 26.3L',
 '₹ 11.0L',
 '₹ 32.5L',
 '₹ 12.0L',
 '₹ 30.0L',
 '₹ 8.0L',
 '₹ 43.0L']

In [180]:
for i in salary1:
    if i  < '₹ 20.0L':
        salary1.remove(i)
max_salary1=salary1
max_salary1.pop(5)
max_salary1

['₹ 40.0L',
 '₹ 38.0L',
 '₹ 45.0L',
 '₹ 34.0L',
 '₹ 33.0L',
 '₹ 26.3L',
 '₹ 32.5L',
 '₹ 30.0L',
 '₹ 8.0L',
 '₹ 43.0L']

In [177]:
#finding Experience element using xpath
exp_tags= driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
exp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="4d4ba009-c231-4ddd-b7cb-7271502f8d9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="0ecfe79f-d7b0-4442-8ead-8b1cfc8602b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="dab67fdb-4517-4caf-8682-679ed4015bc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="9ab11d01-48cd-4456-b257-a2539fbf1d7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="51805f1e-1176-4d5a-a60f-4127c8408e6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="c71dd083-6a4e-4e9b-b442-21c5889c09b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="789089e6-19df-48de-a106-dd910cf26e6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="421d0385-d48f-4a71-a165-e71a199acb54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="986f7d30-8c34-4735-9fd8-97314a2deacb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59f7bb17285235eb3f54e169760276d", element="6620c6b2-ec2f-412a-a12f-636142f94da2")>]

In [178]:
exp_required=[]
for i in exp_tags:
    exp_required.append(i.text.split('\n')[2])
exp_required

['1 yr exp',
 '3 yrs exp',
 '1-4 yrs exp',
 '2 yrs exp',
 '2-4 yrs exp',
 '1-4 yrs exp',
 '2-4 yrs exp',
 '1-4 yrs exp',
 '1-2 yrs exp',
 '1-4 yrs exp']

In [181]:
print(len(company_name),len(total_salary),len(min_salary),len(max_salary1),len(avg_salary),len(exp_required))

10 10 10 10 10 10

In [182]:
# creating dataframe and assigning lists to columns
Data_Specialist_Salary = pd.DataFrame({})
Data_Specialist_Salary['Company_Name'] = company_name
Data_Specialist_Salary['Total_Salary'] = total_salary
Data_Specialist_Salary['Min_Salary'] = min_salary
Data_Specialist_Salary['Max_Salary'] = max_salary1
Data_Specialist_Salary['Avg_Salary'] = avg_salary
Data_Specialist_Salary['Exp_Required'] = exp_required

Data_Specialist_Salary

,Company_Name,Total_Salary,Min_Salary,Max_Salary,Avg_Salary,Exp_Required
0,Walmart,11,₹ 10.4L,₹ 40.0L,₹ 26.9L,1 yr exp
1,Ab Inbev,32,₹ 10.7L,₹ 38.0L,₹ 24.7L,3 yrs exp
2,Reliance Jio,10,₹ 13.0L,₹ 45.0L,₹ 23.7L,1-4 yrs exp
3,ZS,15,₹ 12.0L,₹ 34.0L,₹ 22.3L,2 yrs exp
4,Optum,27,₹ 12.0L,₹ 33.0L,₹ 21.0L,2-4 yrs exp
5,Fractal Analytics,81,₹ 7.5L,₹ 26.3L,₹ 20.3L,1-4 yrs exp
6,Tiger Analytics,46,₹ 13.0L,₹ 32.5L,₹ 20.2L,2-4 yrs exp
7,UnitedHealth,53,₹ 11.0L,₹ 30.0L,₹ 19.9L,1-4 yrs exp
8,Verizon,14,₹ 12.0L,₹ 8.0L,₹ 19.8L,1-2 yrs exp
9,Ganit Business Solutions,13,₹ 8.0L,₹ 43.0L,₹ 19.7L,1-4 yrs exp